pkgbase = iptv-tui-bin
	pkgdesc = IPTV TUI, a terminal UI to browse free IPTV playlists (iptv-org, Free-TV) by country or category and play them (prebuilt binary)
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/kinncj/IPTV-TUI
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = iptv-tui
	conflicts = iptv-tui
	optdepends = mpv: inline terminal playback and best HLS support
	optdepends = vlc: alternate external player
	optdepends = ffmpeg: built-in inline video player, and ffplay
	source = iptv-tui_1.0.0.1::https://github.com/kinncj/IPTV-TUI/releases/download/v1.0.0/iptv-tui.1
	sha256sums = 4ef44f7538ba6fc89254a0aa680ab6063f3d013e6a22fe291cd1d32e54fa8b05
	source = iptv-tui_1.0.0.LICENSE::https://github.com/kinncj/IPTV-TUI/releases/download/v1.0.0/LICENSE
	sha256sums = 8936904a974f7f574e1692f60d78da598846b9e3e2735bf978b506f0ac013faf
	source_x86_64 = iptv-tui_1.0.0_x86_64::https://github.com/kinncj/IPTV-TUI/releases/download/v1.0.0/iptv-tui_linux_amd64
	sha256sums_x86_64 = 67ffb1b8031c1b7357d03772090659bb436a736c25ec94aebd2ff0fb45f6b9e4
	source_aarch64 = iptv-tui_1.0.0_aarch64::https://github.com/kinncj/IPTV-TUI/releases/download/v1.0.0/iptv-tui_linux_arm64
	sha256sums_aarch64 = 4f5e0fd33210276053c18ece0100236d0485c89898ad4cf2d931891c802a49f6

pkgname = iptv-tui-bin
