pkgbase = iptv-tui-bin
	pkgdesc = IPTV TUI, a terminal UI to browse free IPTV playlists (iptv-org, Free-TV) by country or category and play them (prebuilt binary)
	pkgver = 0.0.0
	pkgrel = 1
	url = https://github.com/kinncj/IPTV-TUI
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = iptv-tui
	conflicts = iptv-tui
	optdepends = mpv: inline terminal playback and best HLS support
	optdepends = vlc: alternate external player
	optdepends = ffmpeg: built-in inline video player, and ffplay
	source = iptv-tui_0.0.0.1::https://github.com/kinncj/IPTV-TUI/releases/download/v0.0.0/iptv-tui.1
	sha256sums = a41249c588f7cfa1ef368edfcc6c47cda04c3c92d78309346882e903d0aa7b37
	source = iptv-tui_0.0.0.LICENSE::https://github.com/kinncj/IPTV-TUI/releases/download/v0.0.0/LICENSE
	sha256sums = 8936904a974f7f574e1692f60d78da598846b9e3e2735bf978b506f0ac013faf
	source_x86_64 = iptv-tui_0.0.0_x86_64::https://github.com/kinncj/IPTV-TUI/releases/download/v0.0.0/iptv-tui_linux_amd64
	sha256sums_x86_64 = bb922b7388654398f3462bd5041f5549db011f38ad1c0ba4d83690e2f43474a4
	source_aarch64 = iptv-tui_0.0.0_aarch64::https://github.com/kinncj/IPTV-TUI/releases/download/v0.0.0/iptv-tui_linux_arm64
	sha256sums_aarch64 = bbcb84068772871d33bd83587476fd4761a59e6c42d146bac3352d4d43e0cee1

pkgname = iptv-tui-bin
